#work {
  margin-bottom: 144px;

  header {
    margin-bottom: 56px;
    gap: 8px;
  }

  div.grid {
    grid-template-columns: repeat(3, 1fr);

    article {
      background-color: var(--gray-400);
      max-width: 330px;
      max-height: 280px;
      border-radius: 12px;

      img {
        display: block;
        margin-inline: auto;
        border-radius: 12px;
        width: 100%;
        object-fit: cover;
        max-width: 306px;
        max-height: 156px;
      }

      div {
        padding: 12px;

        p {
          padding-block: 12px;
        }
      }
    }
  }
}